

<nav class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="container ">
        <div class="row d-flex justify-content-around">
            <div class="col-lg-6" style="text-align: center; line-height: 5">
                <div class="d-flex justify-content-around">
                    <a class="link-nav" href="/users">Trang chủ</a>
                    <a class="link-nav" href="/users/information">Thông tin tài khoản</a>
                    <a class="link-nav" href="/users/services">Các dịch vụ</a>
                    <a class="link-nav" href="/users/changePWD">Đổi mật khẩu</a>
                </div>

            </div>
            <div class="col-lg-3" style="text-align: center; line-height: 5">
                <div>Số dư : {{vnd surplus}}</div>
            </div>
            <div class="col-lg-3" style="text-align: center; line-height: 5">
                <a class="link-nav" href="/logout">Đăng xuất</a>
            </div>
        </div>


    </div>
</nav>

