<div class="row  nav-border-admin">
    <div class="col-lg-8 col-sm-6">
        <ul class="list-nav">
            <li class="link-nav"><a href="#">Home</a></li>
            <li class="link-nav"><a href="#">Information</a></li>
            <li class="link-nav"><a href="#">Service</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-sm-6">
        {{#if name}}
        <div class=""><a href="#">{{name}}</a></div>
        {{/if}}
        <div class=""><a href="/logout">Logout</a></div>
    </div>
</div>
