{{!-- nav  --}}
{{>navAdmin}}
{{!-- end nav --}}

{{!-- body --}}

<div class="container">
    <div class="row m-5">
        <div class="col-lg-6 col-sm-12">
            <a href="/admin/manage-user">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/usrs.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Manage User</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-sm-12" style="padding: 10px;">
            <a href="/admin/approve_withdraw_money">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/withdraw_money.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Manage Withdraw Money</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{{!-- end body --}}

{{!-- footer --}}
{{> footer}}
{{!-- end footer --}}