<div id="border_login_page">
    <form class="login-form" novalidate>
        <div class="header_login_form">Đăng nhập</div>
        <div class="field">
            <label for="email">Email address</label>
            <input type="email" class="field-input" id="email" aria-describedby="emailHelp" placeholder="Enter your email">
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" class="field-input" id="password" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn_login">Submit</button>
    </form>
</div>