<div id="border_login_page">
    <form class="login-form" novalidate method="post" >
        <div class="header_login_form">Quên mật khẩu</div>
        <div class="field">
            <input type="text" class="field-input" id="email" name="email" aria-describedby="emailHelp" placeholder="Nhập email">
        </div>
        <div class="field">
            {{#if error}}
                <p class="error_login">{{error}}</p>
            {{/if}}
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>