{{!-- nav --}}

{{>nav}}
{{!-- end nav --}}

{{!-- body --}}

<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-lg-6 col-sm-12 mb-3 mt-3">
            <a href="/users/services/nopTien">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/noptien.jpeg">
                    <div class="card-body">
                        <h5 class="card-title">Nộp tiền</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-sm-12 mb-3 mt-3">
            <a href="/users/services/rutTien">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/ruttien.jpeg">
                    <div class="card-body">
                        <h5 class="card-title">Rút tiền</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6 col-sm-12 mb-3 mt-3">
            <a href="/users/services/history">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/rechargeChart.webp">
                    <div class="card-body">
                        <h5 class="card-title">Lịch sử giao dịch</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6 col-sm-12 mb-3 mt-3">
            <a href="/users/services/transfer">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/transfer.jpeg">
                    <div class="card-body">
                        <h5 class="card-title">chuyển tiền</h5>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

{{!-- end body --}}

{{!-- footer --}}
