{{!-- nav --}}

{{>nav}}
{{!-- end nav --}}

{{!-- body --}}

<div class="container mb-5 mt-5">
    <h1 class="brand-object">Chuyển tiền</h1>
    <form method="post" class="shadow-none p-3 mb-5 bg-light rounded">
        <div class="form-group">
            <label for="">Số điện thoại người nhận</label>
            <input type="text" class="form-control" name="sdt" id="sdt" onkeyup="search(this)">
        </div>
        <div class="form-group">
            <label for="">Tên người nhận</label>
            <input type="text" class="form-control" id="nameReceive">
        </div>
        <div class="form-group">
            <label for="">Ghi chú</label>
             <textarea name="note" class="form-control" cols="30" rows="10" id="note"></textarea>
        </div>

        <div class="form-control">
            <label for="">Phí chuyển</label>
            <select name="fee">
                <option value="receive">Bên nhận</option>
                <option value="send">Bên chuyển</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Số tiền chuyển</label>
            <input type="number" class="form-control" id="transferMoney" name="transferMoney">
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <button class="btn btn-info w-100" id="refreshBTN">Làm mới</button>
            </div>

            <div class="col-lg-6 col-sm-12">
                <input type="submit" value="Chuyển tiền" id="chuyenBTN" class="bnt btn-success w-100" style="padding: 10px; outline: none; border: none; border-radius: 10px;">
            </div>
        </div>
        
    </form>
</div>

{{!-- end body --}}


{{!-- script --}}

<script>

    
    const refreshBTN = document.getElementById('refreshBTN')

    refreshBTN.addEventListener('click', (e) => {
        e.preventDefault()
        $('#sdt').val('')
        $('#nameReceive').val('')
        $('#note').html('')
        $('#transferMoney').val('')
    })

    function search(word){
        if(word.value.length === 10){
            getNameRecevie(word.value)
        }
    }

    function getNameRecevie(word){
        var http = new XMLHttpRequest();
        var url = `http://localhost:5000/users/getName/`;
        var params = `sdt=${word}`;
        http.open('POST', url, true);

        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                $('#nameReceive').val(http.responseText)
            }
        }
        http.send(params);
    }
</script>

{{!-- end script --}}
